.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  color: #626262;
}

.photo {
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .photo {
    max-width: 40%;
  }
  .photo img {
    max-width: 100%;
  }
  .box {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .box {
    margin-top: 100px;
    width: 100%;
  }
  .photo {
    margin-top: 60px;
    max-width: 80%;
  }
  .text {
    width: 100%;
  }
}