.contact {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.contact__title {
  margin-bottom: 50px;
}

.contact__sub {
  font-weight: 600;
  font-size: 24px;
  color: #626262;
  margin-bottom: 10px;
}

.contact__name {
  font-weight: 700;
  font-size: 30px;
  color: #4689AF;
  margin-bottom: 35px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.contact__link svg{
  color: #E95E98;
  width: 38px;
  height: 38px;
}

.contact__link svg:hover {
  color: #E0196C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}