.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
}

.box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.title {
  margin-bottom: 50px;
}

.sub {
  font-weight: 600;
  font-size: 24px;
  color: #626262;
  margin-bottom: 10px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  color: #4689AF;
  margin-bottom: 35px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.link svg{
  color: #E95E98;
  width: 38px;
  height: 38px;
}

.link svg:hover {
  color: #E0196C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
  .img {
    display: none;
  }
}