.menu {
  display: none;
  left: 50px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
}

.list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item {
  margin-bottom: 50px;
}

.link {
  color: #626262;
  font-size: 26px;
  font-weight: 600;
}

.link:active {
  color: #E0196C;
}

.button {
  background-color: #eaeaea;
  padding: 5px 40px;
  font-size: 22px;
}

.button:active {
  background: #E0196C;
  color: #eaeaea;
}

.menu__btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  z-index: 5;
  right: 30px;
  top: 10px;
  position: fixed;
}

.menu__btn--active span {
  position: absolute;
}

.menu__btn--active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu__btn--active span:nth-child(2) {
  opacity: 0;
}

.menu__btn--active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__btn--active+.list {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu__btn span {
  height: 2px;
  width: 60%;
  background-color: #4689AF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__btn--active span {
  background-color: #4689AF;
}