header {
  height: 60px;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

footer {
  background-color: #4689AF;
  padding: 50px 0;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  background: #FFFFFF;
}

#portfolio {
  text-align: center;
  background-color: #F3F3F3;
}

#contact {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto;
}

.hero-page {
  height: 100vh;
  background-color: #F3F3F3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #4689AF;
}

.title {
  font-weight: 800;
  font-size: 48px;
  color: #4689AF;
}

.rose {
  color: #E0196C;
}

.skills {
  background-color: #4689AF;
}

.skills img {
  width: 100%;
}

.topbutton {
  position: fixed;
  right: 60px;
  bottom: 40px;
  z-index: 5;
}

.btn {
  background: #F3F3F3;
  border: 3px solid #E0196C;
  color: #E0196C;
  font-weight: 700;
  line-height: 150%;
  border-radius: 40px;
}